# this block must be included in all task_group configs
# especially the datamodule: default attribue
defaults:
  - _self_
  - datamodule: default

# define what tasks this model will be trained on and in what proportion. in otherwords this is p(task)
tasks:
  - name: denovo_ligand
    probability: 0.33
  - name: denovo_ligand_pharmacophore
    probability: 0.33
  - name: ligand_conformer
    probability: 0.33


# define the coupling between datasets and tasks. in otherwords this is p(dataset|task)
dataset_task_coupling:
  denovo_ligand:
    - [pharmit, 1.0]
  denovo_ligand_pharmacophore:
    - [pharmit, 1.0]
  ligand_conformer:
    - [pharmit, 1.0]