# this block must be included in all task_group configs
# especially the datamodule: default attribue
defaults:
  - _self_
  - datamodule: default


# Define tasks with time-varying probabilities
# this is p(task) but p(task) can change through the course of training
task_phases:
  - duration_batches: null
    tasks:
      - name: expapo_conditioned_ligand_docking
        probability: 0.25
      - name: predapo_conditioned_ligand_docking
        probability: 0.25
      - name: exp_apo_conditioned_denovo_ligand
        probability: 0.25
      - name: pred_apo_conditioned_denovo_ligand
        probability: 0.25
      - name: protein_ligand_pharmacophore_denovo
        probability: 0.25

# define p(dataset|task) coupling (assume static for simplicity)
dataset_task_coupling:
  expapo_conditioned_ligand_docking:
    - [plinder, 1.0]
  predapo_conditioned_ligand_docking:
    - [plinder, 1.0]
  exp_apo_conditioned_denovo_ligand:
    - [plinder, 1.0]
  pred_apo_conditioned_denovo_ligand:
    - [plinder, 1.0]
  protein_ligand_pharmacophore_denovo:
    - [plinder, 1.0]